cookies.sqlite
cookies.sqlite-wal
favicons.sqlite-wal
logins.json
places.sqlite-wal
prefs.js
storage/
datareporting/
webappsstore.sqlite
webappsstore.sqlite-wal
weave/
addonStartup.json.lz4
favicons.sqlite
permissions.sqlite
places.sqlite
protections.sqlite
search.json.mozlz4
serviceworker.txt
sessionCheckpoints.json
SiteSecurityServiceState.txt
storage-sync.sqlite
storage.sqlite
bookmarkbackups
saved-telemetry-pings
sessionstore.jsonlz4
addons.json
AlternateServices.txt
content-prefs.sqlite
extensions.json
formhistory.sqlite
xulstore.json
